
body {
  background-color: rgb(129, 129, 129); 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
}
.guernica-baslik {
  position: relative;
  color: rgb(0, 0, 0);
  padding: 80px 20px;
  overflow: hidden;
  min-height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  text-decoration-style: wavy;
  -moz-text-decoration-color: black;
}
/* Başlık alanı */
.guernica-baslik::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("images/resim.jpg");
    background-size: cover;
    background-position: center;
    filter: opacity(50%);   /* sadece arka plan saydam, yazı değil */
    z-index: -3;
}
/* Alt metin */
.banner-alt {
  position: relative;
  z-index: 1;
  margin: 20px 0 40px 0;
  font-size: 20px;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
/* 🎞️ Yazının altındaki film şeridi */
.film-rulo {
  display: flex;
  overflow-x: auto;
  gap: 15px;
  padding: 25px 20px;
  background-color: #a7a6a6;         /* koyu film şeridi arka planı */
  border-top: 8px solid #a7a6a6;
  border-bottom: 8px solid #a7a6a6;
  scroll-behavior: smooth;
  margin-top: 30px;               /* yazıdan boşluk bırakır */
}
.film-rulo::-webkit-scrollbar {
  height: 10px;
}

.film-rulo::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
}

.film-rulo img {
  height: 200px;
  border: 5px solid #222;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.6);
  filter: grayscale(20%) contrast(110%);
  transition: transform 0.3s ease, filter 0.3s ease;
}
.film-rulo img:hover {
  transform: scale(1.2); /* resim biraz büyür */
  box-shadow: 0 8px 20px rgba(0,0,0,0.6); /* gölge derinleşir */
}
.foto-item {
  display: flex;
  justify-content: center;  /* ortalar */
  margin: 40px 0;           /* yukarı-aşağı boşluk */
}
.foto-kapsayici {
  position: relative;
  display: inline-block;
}
.foto-item img {
  display: block;
  height: 200px;
  border-radius: 6px;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.foto-item img:hover {
  transform: scale(1.1); /* resim biraz büyür */
  box-shadow: 0 8px 20px rgba(0,0,0,0.6); /* gölge derinleşir */
}
.foto-baslik {
  position: absolute;
  bottom: 3px;           /* Fotoğrafın altına yakın */
  left: 0;
  width: 100%;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 10px;
  padding: 4px 0;
  border-radius: 0 0 10px 10px;
}
.link {
  color: #571717;
  text-decoration: underline;
  font-weight: bold;
  transition: color 0.3s ease;
}

.link:hover {
  color: #444;
}


