
body {
  background-color: rgb(129, 129, 129); 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
}
.guernica-baslik {
  position: relative;
  color: rgb(0, 0, 0);
  padding: 80px 0;
  margin: 0;
}
/* Başlık alanı */
.guernica-baslik::before {
    content: "";
    inset: 0;
    background-image: url("images/resim.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.4;  /* Saydamlık seviyesi (0.0–1.0 arası) */
    z-index: -1;
    color: rgb(0, 0, 0);                 /* Yazı rengini beyaz yap */
    padding: 20px 0;              /* Başlığın etrafına boşluk ekle */
    margin: 0;
    text-shadow: 10px 20px 50px rgba(74, 70, 70, 0.7); /* Yazıya hafif gölge */
}